name: ZonePractice Build

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Install Local Dependencies
        run: |
          mvn install:install-file \
            -Dfile=libs/PaperSpigot-1.8.8-R0.1-SNAPSHOT.jar \
            -DgroupId=org.github.paperspigot \
            -DartifactId=paperspigot-api \
            -Dversion=1.8.8-R0.1-SNAPSHOT \
            -Dpackaging=jar \
            -DgeneratePom=true

      - name: Build with Maven
        run: mvn -B clean install --file pom.xml

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ZonePractice-Plugin
          path: |
            distribution/target/*.jar
            !distribution/target/original-*.jar
          retention-days: 5